<h1> Edit Part </h1>

<%= form_for @part do |f| %>

  <%= f.label :part_number %>
  <%= f.text_field :part_number %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br>
  <%= f.submit "Update Item" %>

<% end %>
